In [1]:
people = {
    "first" :["Corey"],
    "last" :["Schafer"],
    "email" :["CoreySchafer@gmail.com"]
}

In [3]:
people = {
    "first":["corey", "jane","john"],
    "last":["schafer", "doe", "doe"],
    "email":["coreyschafer@gmail.com", "jane@gmail.com", "john@gmail.com"]
}

In [4]:
people["email"]

['coreyschafer@gmail.com', 'jane@gmail.com', 'john@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

   first     last                   email
0  corey  schafer  coreyschafer@gmail.com
1   jane      doe          jane@gmail.com
2   john      doe          john@gmail.com

In [8]:
 df['email']

0    coreyschafer@gmail.com
1            jane@gmail.com
2            john@gmail.com
Name: email, dtype: object

In [9]:
df.email

0    coreyschafer@gmail.com
1            jane@gmail.com
2            john@gmail.com
Name: email, dtype: object

In [12]:
df[["last", "email"]]

      last                   email
0  schafer  coreyschafer@gmail.com
1      doe          jane@gmail.com
2      doe          john@gmail.com