This notebook contains simple EDA and Visualization with respect to rainfall in each of the Aquifer

In [29]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import calendar


%matplotlib inline

In [2]:
import os

for dirname, direc, filename in os.walk('../data/ACEA_Water/'):
    for file in filename:
        fullpath = os.path.join(dirname, file)
        print(fullpath)

../data/ACEA_Water/Aquifer_Auser.csv
../data/ACEA_Water/Aquifer_Doganella.csv
../data/ACEA_Water/Aquifer_Luco.csv
../data/ACEA_Water/Aquifer_Petrignano.csv
../data/ACEA_Water/Lake_Bilancino.csv
../data/ACEA_Water/River_Arno.csv
../data/ACEA_Water/Water_Spring_Amiata.csv
../data/ACEA_Water/Water_Spring_Lupa.csv
../data/ACEA_Water/Water_Spring_Madonna_di_Canneto.csv

# EDA and Visualization

## <a id='auser'>Auser</a>

In [4]:
pd.set_option('display.max_columns', None)
aa = pd.read_csv("../data/ACEA_Water/Aquifer_Auser.csv")

,Date,Rainfall_Gallicano,Rainfall_Pontetetto,Rainfall_Monte_Serra,Rainfall_Orentano,Rainfall_Borgo_a_Mozzano,Rainfall_Piaggione,Rainfall_Calavorno,Rainfall_Croce_Arcana,Rainfall_Tereglio_Coreglia_Antelminelli,Rainfall_Fabbriche_di_Vallico,Depth_to_Groundwater_LT2,Depth_to_Groundwater_SAL,Depth_to_Groundwater_PAG,Depth_to_Groundwater_CoS,Depth_to_Groundwater_DIEC,Temperature_Orentano,Temperature_Monte_Serra,Temperature_Ponte_a_Moriano,Temperature_Lucca_Orto_Botanico,Volume_POL,Volume_CC1,Volume_CC2,Volume_CSA,Volume_CSAL,Hydrometry_Monte_S_Quirico,Hydrometry_Piaggione
0,05/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,10.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,9.2,0.0,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,08/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.4,0.0,13.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09/03/1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.4,0.0,12.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
aa['Month'] = aa['Date'].dt.month

In [36]:
aa.head()

,Date,Rainfall_Gallicano,Rainfall_Pontetetto,Rainfall_Monte_Serra,Rainfall_Orentano,Rainfall_Borgo_a_Mozzano,Rainfall_Piaggione,Rainfall_Calavorno,Rainfall_Croce_Arcana,Rainfall_Tereglio_Coreglia_Antelminelli,Rainfall_Fabbriche_di_Vallico,Depth_to_Groundwater_LT2,Depth_to_Groundwater_SAL,Depth_to_Groundwater_PAG,Depth_to_Groundwater_CoS,Depth_to_Groundwater_DIEC,Temperature_Orentano,Temperature_Monte_Serra,Temperature_Ponte_a_Moriano,Temperature_Lucca_Orto_Botanico,Volume_POL,Volume_CC1,Volume_CC2,Volume_CSA,Volume_CSAL,Hydrometry_Monte_S_Quirico,Hydrometry_Piaggione,Month
0,1998-05-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.04,-5.68,-1.97,-6.25,-4.06,0.0,0.0,0.0,0.00,-9728.571429,-16450.56,-12078.72,0.0,0.0,0.26,-0.28,5
1,1998-06-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.04,-5.68,-1.97,-6.25,-4.06,0.0,0.0,0.0,10.05,-9728.571429,-16450.56,-12078.72,0.0,0.0,0.26,-0.28,6
2,1998-07-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.04,-5.68,-1.97,-6.25,-4.06,0.0,9.2,0.0,10.00,-9728.571429,-16450.56,-12078.72,0.0,0.0,0.26,-0.28,7
3,1998-08-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.04,-5.68,-1.97,-6.25,-4.06,0.0,11.4,0.0,13.85,-9728.571429,-16450.56,-12078.72,0.0,0.0,0.26,-0.28,8
4,1998-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.04,-5.68,-1.97,-6.25,-4.06,0.0,11.4,0.0,12.85,-9728.571429,-16450.56,-12078.72,0.0,0.0,0.26,-0.28,9

In [25]:
aa.isnull().sum()

Date                                       0
Rainfall_Gallicano                         0
Rainfall_Pontetetto                        0
Rainfall_Monte_Serra                       0
Rainfall_Orentano                          0
Rainfall_Borgo_a_Mozzano                   0
Rainfall_Piaggione                         0
Rainfall_Calavorno                         0
Rainfall_Croce_Arcana                      0
Rainfall_Tereglio_Coreglia_Antelminelli    0
Rainfall_Fabbriche_di_Vallico              0
Depth_to_Groundwater_LT2                   0
Depth_to_Groundwater_SAL                   0
Depth_to_Groundwater_PAG                   0
Depth_to_Groundwater_CoS                   0
Depth_to_Groundwater_DIEC                  0
Temperature_Orentano                       0
Temperature_Monte_Serra                    0
Temperature_Ponte_a_Moriano                0
Temperature_Lucca_Orto_Botanico            0
Volume_POL                                 0
Volume_CC1                                 0
Volume_CC2                                 0
Volume_CSA                                 0
Volume_CSAL                                0
Hydrometry_Monte_S_Quirico                 0
Hydrometry_Piaggione                       0
Month                                      0
dtype: int64

Handling missing values

In [10]:
missing_val = [features for features in aa.columns if aa[features].isnull().sum()>1]

for feature in missing_val:
    print(feature, np.round(aa[feature].isnull().mean(), 3), "% missing values")

Rainfall_Gallicano 0.351 % missing values
Rainfall_Pontetetto 0.351 % missing values
Rainfall_Monte_Serra 0.351 % missing values
Rainfall_Orentano 0.351 % missing values
Rainfall_Borgo_a_Mozzano 0.351 % missing values
Rainfall_Piaggione 0.395 % missing values
Rainfall_Calavorno 0.351 % missing values
Rainfall_Croce_Arcana 0.351 % missing values
Rainfall_Tereglio_Coreglia_Antelminelli 0.351 % missing values
Rainfall_Fabbriche_di_Vallico 0.351 % missing values
Depth_to_Groundwater_LT2 0.411 % missing values
Depth_to_Groundwater_SAL 0.443 % missing values
Depth_to_Groundwater_PAG 0.533 % missing values
Depth_to_Groundwater_CoS 0.471 % missing values
Depth_to_Groundwater_DIEC 0.599 % missing values
Volume_POL 0.306 % missing values
Volume_CC1 0.306 % missing values
Volume_CC2 0.306 % missing values
Volume_CSA 0.306 % missing values
Volume_CSAL 0.306 % missing values
Hydrometry_Monte_S_Quirico 0.112 % missing values
Hydrometry_Piaggione 0.25 % missing values

In [11]:
for feature in missing_val:
    median_value=aa[feature].median()
    aa[feature].fillna(median_value,inplace=True)

In [12]:
aa.isnull().sum()

Date                                       0
Rainfall_Gallicano                         0
Rainfall_Pontetetto                        0
Rainfall_Monte_Serra                       0
Rainfall_Orentano                          0
Rainfall_Borgo_a_Mozzano                   0
Rainfall_Piaggione                         0
Rainfall_Calavorno                         0
Rainfall_Croce_Arcana                      0
Rainfall_Tereglio_Coreglia_Antelminelli    0
Rainfall_Fabbriche_di_Vallico              0
Depth_to_Groundwater_LT2                   0
Depth_to_Groundwater_SAL                   0
Depth_to_Groundwater_PAG                   0
Depth_to_Groundwater_CoS                   0
Depth_to_Groundwater_DIEC                  0
Temperature_Orentano                       0
Temperature_Monte_Serra                    0
Temperature_Ponte_a_Moriano                0
Temperature_Lucca_Orto_Botanico            0
Volume_POL                                 0
Volume_CC1                                 0
Volume_CC2                                 0
Volume_CSA                                 0
Volume_CSAL                                0
Hydrometry_Monte_S_Quirico                 0
Hydrometry_Piaggione                       0
dtype: int64

In [13]:
aa.dtypes

Date                                       datetime64[ns]
Rainfall_Gallicano                                float64
Rainfall_Pontetetto                               float64
Rainfall_Monte_Serra                              float64
Rainfall_Orentano                                 float64
Rainfall_Borgo_a_Mozzano                          float64
Rainfall_Piaggione                                float64
Rainfall_Calavorno                                float64
Rainfall_Croce_Arcana                             float64
Rainfall_Tereglio_Coreglia_Antelminelli           float64
Rainfall_Fabbriche_di_Vallico                     float64
Depth_to_Groundwater_LT2                          float64
Depth_to_Groundwater_SAL                          float64
Depth_to_Groundwater_PAG                          float64
Depth_to_Groundwater_CoS                          float64
Depth_to_Groundwater_DIEC                         float64
Temperature_Orentano                              float64
Temperature_Monte_Serra                           float64
Temperature_Ponte_a_Moriano                       float64
Temperature_Lucca_Orto_Botanico                   float64
Volume_POL                                        float64
Volume_CC1                                        float64
Volume_CC2                                        float64
Volume_CSA                                        float64
Volume_CSAL                                       float64
Hydrometry_Monte_S_Quirico                        float64
Hydrometry_Piaggione                              float64
dtype: object

In [14]:
aa.describe()

,Rainfall_Gallicano,Rainfall_Pontetetto,Rainfall_Monte_Serra,Rainfall_Orentano,Rainfall_Borgo_a_Mozzano,Rainfall_Piaggione,Rainfall_Calavorno,Rainfall_Croce_Arcana,Rainfall_Tereglio_Coreglia_Antelminelli,Rainfall_Fabbriche_di_Vallico,Depth_to_Groundwater_LT2,Depth_to_Groundwater_SAL,Depth_to_Groundwater_PAG,Depth_to_Groundwater_CoS,Depth_to_Groundwater_DIEC,Temperature_Orentano,Temperature_Monte_Serra,Temperature_Ponte_a_Moriano,Temperature_Lucca_Orto_Botanico,Volume_POL,Volume_CC1,Volume_CC2,Volume_CSA,Volume_CSAL,Hydrometry_Monte_S_Quirico,Hydrometry_Piaggione
count,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000,8154.000000
mean,3.213613,2.269855,2.542065,2.045965,2.973461,2.390618,2.973412,1.850552,2.716286,3.845793,-13.235543,-5.663988,-1.977611,-6.285341,-4.003310,13.167286,11.202079,10.971358,15.501134,-9442.286077,-16347.318009,-11890.862373,-1633.002615,-1378.401605,0.307615,-0.226873
std,11.815080,8.216133,8.908824,7.207398,10.520561,8.683849,10.276922,7.568606,9.192451,13.420925,0.812442,0.480200,0.454903,1.003691,0.437219,8.281454,6.903190,8.708626,7.138789,1862.956146,1243.329894,1209.552244,2613.341633,2301.150394,0.202229,0.736100
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-15.310000,-7.000000,-3.380000,-9.570000,-4.990000,-4.650000,-7.850000,-2.850000,-3.300000,-13883.225810,-18601.920000,-14438.304000,-7757.258065,-9497.774194,0.000000,-1.190000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-13.380000,-5.740000,-1.970000,-6.450000,-4.060000,6.750000,5.650000,0.000000,9.750000,-10326.000000,-16799.659350,-12537.670710,-4670.903226,-3521.931034,0.170000,-0.960000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-13.040000,-5.680000,-1.970000,-6.250000,-4.060000,13.350000,11.000000,10.875000,15.400000,-9728.571429,-16450.560000,-12078.720000,0.000000,0.000000,0.260000,-0.280000
75%,0.200000,0.000000,0.200000,0.200000,0.000000,0.000000,0.200000,0.200000,0.200000,0.200000,-12.870000,-5.620000,-1.970000,-6.070000,-4.060000,20.000000,16.700000,18.550000,21.600000,-8748.170667,-16140.990870,-11509.344000,0.000000,0.000000,0.380000,0.210000
max,318.800000,146.600000,152.200000,108.800000,176.600000,140.800000,209.000000,285.000000,147.200000,197.000000,0.000000,0.000000,-0.090000,0.000000,-1.030000,31.000000,29.500000,30.750000,31.050000,-4114.670400,-7149.791935,-5569.298387,0.000000,0.000000,2.170000,3.690000

In [15]:
aa.shape

(8154, 27)

The subsystems are divided into two parts North and South
* North has - SAL, PAG, CoS and DIEC wells
* South has - LT2

In [34]:
aa.groupby('Month')

In [16]:
north_well = ["Depth_to_Groundwater_SAL", "Depth_to_Groundwater_PAG", "Depth_to_Groundwater_CoS", 
              "Depth_to_Groundwater_DIEC"]
south_well = ["Depth_to_Groundwater_LT2"]

In [27]:
# month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
aa.groupby('Month')

In [26]:
for nwell in north_well:
    for mth in month:
        plt.figure(figsize= (10,6))
        fig = px.violin(x = aa[mth], y = aa[nwell])
        fig.show();

KeyError: 'Jan'

## Rainfall

In [ ]:
# North Well Subsystems rain fall
rainfall = ["Rainfall_Gallicano", "Rainfall_Pontetetto", "Rainfall_Monte_Serra", "Rainfall_Orentano",
            "Rainfall_Borgo_a_Mozzano", "Rainfall_Piaggione", "Rainfall_Calavorno", "Rainfall_Croce_Arcana",
            "Rainfall_Tereglio_Coreglia_Antelminelli", "Rainfall_Fabbriche_di_Vallico"]

for rain in rainfall:
    for nwell in north_well:
        plt.figure(figsize= (10,6))
        fig = px.violin(x = aa[nwell], y = aa[rain])
        fig.show();

In [ ]:
# South Well Subsystems rain fall
rainfall = ["Rainfall_Gallicano", "Rainfall_Pontetetto", "Rainfall_Monte_Serra", "Rainfall_Orentano",
            "Rainfall_Borgo_a_Mozzano", "Rainfall_Piaggione", "Rainfall_Calavorno", "Rainfall_Croce_Arcana",
            "Rainfall_Tereglio_Coreglia_Antelminelli", "Rainfall_Fabbriche_di_Vallico"]

for rain in rainfall:
    for swell in south_well:
        plt.figure(figsize= (10,6))
        fig = px.histogram(x = aa[swell], y = aa[rain])
        fig.show();

## Volume of water present in each well

In [ ]:
# North Well volume
volume = ["Volume_POL", "Volume_CC1", "Volume_CC2", "Volume_CSA", "Volume_CSAL"]
for well in rainfall:
    for vol in volume:
        plt.figure(figsize= (15,6))
        fig = px.histogram(x = aa[vol], y = aa[well], title="North Well")
        fig.show();

In [ ]:
# South Well
south_well = ["Depth_to_Groundwater_LT2"]
volume = ["Volume_POL", "Volume_CC1", "Volume_CC2", "Volume_CSA", "Volume_CSAL"]

for well in rainfall:
    for vol in volume:
        plt.figure(figsize= (10,6))
        fig = px.histogram(x = aa[vol], y = aa[well])
        fig.show();

## Temperature of each well

In [ ]:
# North Well temperature
temperature = ["Temperature_Monte_Serra", "Temperature_Ponte_a_Moriano", "Temperature_Lucca_Orto_Botanico"]

for well in rainfall:
    for temp in temperature:
        plt.figure(figsize= (10,6))
        fig = px.histogram(x = aa[temp], y = aa[well])
        fig.show();

In [ ]:
# South Well temperature

temperature = ["Temperature_Monte_Serra", "Temperature_Ponte_a_Moriano", "Temperature_Lucca_Orto_Botanico"]

for well in rainfall:
    for temp in temperature:
        plt.figure(figsize= (10,6))
        fig = px.histogram(x = aa[temp], y = aa[well])
        fig.show();

## Hydrometry of each well

In [ ]:
# North Well hydrometry
temperature = ["Temperature_Monte_Serra", "Temperature_Ponte_a_Moriano", "Temperature_Lucca_Orto_Botanico"]

for well in rainfall:
    for temp in temperature:
        plt.figure(figsize= (10,6))
        fig = px.histogram(x = aa[temp], y = aa[well])
        fig.show()

In [ ]:
# South Well hydrometry
temperature = ["Hydrometry_Monte_S_Quirico", "Hydrometry_Piaggione"]

for well in rainfall:
    for temp in temperature:
        plt.figure(figsize= (10,6))
        fig = px.histogram(x = aa[temp], y = aa[well])
        fig.show();

# <a id='doganella'>Doganella</a>

In [ ]:
pd.set_option('display.max_columns', None)
ad = pd.read_csv("../data/ACEA_Water/Aquifer_Doganella.csv")
ad.head()

In [ ]:
ad.columns

In [ ]:
missing_val = [features for features in ad.columns if ad[features].isnull().sum()>1]

for feature in missing_val:
    print(feature, np.round(ad[feature].isnull().mean(), 3), "% missing values")

In [ ]:
for feature in missing_val:
    median_value=ad[feature].median()
    ad[feature].fillna(median_value,inplace=True)

In [ ]:
ad.isnull().sum()

In [ ]:
ad.dtypes

In [ ]:
ad.describe()

In [ ]:
ad.shape

The Doganella well is fed by two underground aquifers 
* the upper stratum is a water table with a thickness of about 30m while the lower one is a semi-confined artesian aquifer with a thickness of 50m.

## Rainfall

In [ ]:
rainfall = ["Rainfall_Monteporzio", "Rainfall_Velletri"]

In [ ]:
for rain in rainfall:
    print(rain)
    fig = px.histogram(ad[rain])
    fig.show();

## Depth

In [ ]:
depth = ["Depth_to_Groundwater_Pozzo_1", "Depth_to_Groundwater_Pozzo_2", "Depth_to_Groundwater_Pozzo_3", 
         "Depth_to_Groundwater_Pozzo_4", "Depth_to_Groundwater_Pozzo_5", "Depth_to_Groundwater_Pozzo_6", 
         "Depth_to_Groundwater_Pozzo_7","Depth_to_Groundwater_Pozzo_8", "Depth_to_Groundwater_Pozzo_9"]

In [ ]:
for rain in rainfall:
    for dep in depth:
        print(rain, dep)
        fig = px.histogram(x = ad[dep], y = ad[rain])
        fig.show();

## Volume

In [ ]:
volume = ["Volume_Pozzo_1", "Volume_Pozzo_2", "Volume_Pozzo_3", "Volume_Pozzo_4", "Volume_Pozzo_5+6", 
          "Volume_Pozzo_7", "Volume_Pozzo_8", "Volume_Pozzo_9"]

In [ ]:
for rain in rainfall:
    for vol in volume:
        print(vol, rain)
        plt.figure(figsize= (10,6))
        fig = px.histogram(x = ad[vol], y = ad[rain])
        fig.show();

## Temperature

In [ ]:
temperature = ["Temperature_Monteporzio", "Temperature_Velletri"]

In [ ]:
for rain in rainfall:
    for temp in temperature:
        print(temp, rain)
        plt.figure(figsize= (10,6))
        fig = px.histogram(x = ad[temp], y = ad[rain])
        fig.show();

# <a id='petrignano'>Petrignano</a>

In [ ]:
pd.set_option('display.max_columns', None)
ap = pd.read_csv("../data/ACEA_Water/Aquifer_Petrignano.csv")
ap.head()

In [ ]:
ap.columns

In [ ]:
missing_val = [features for features in ap.columns if ap[features].isnull().sum()>1]

for feature in missing_val:
    print(feature, np.round(ap[feature].isnull().mean(), 3), "% missing values")

In [ ]:
# Handling Missing values
for feature in missing_val:
    median_value=ap[feature].median()
    ap[feature].fillna(median_value,inplace=True)

In [ ]:
ap.isnull().sum()

In [ ]:
ap.dtypes

In [ ]:
ap.describe()

In [ ]:
ap.shape

## Rainfall

In [ ]:
rainfall = ["Rainfall_Bastia_Umbra"]

In [ ]:
for rain in rainfall:
    fig = px.histogram(ap[rain])
    fig.show();

## Depth

In [ ]:
depth = ["Depth_to_Groundwater_P24", "Depth_to_Groundwater_P25"]

In [ ]:
for rain in rainfall:
    for dep in depth:
        print(dep, rain)
        fig = px.histogram(x = ap[dep], y = ap[rain])
        fig.show();

## Temperature

In [ ]:
temperature = ["Temperature_Bastia_Umbra", "Temperature_Petrignano"]

In [ ]:
for rain in rainfall:
    for temp in temperature:
        print(temp, rain)
        fig = px.histogram(x = ap[temp], y = ap[rain])
        fig.show();

In [ ]:
volume = ["Volume_C10_Petrignano"]

In [ ]:
for rain in rainfall:
    for vol in volume:
        print(vol, rain)
        fig = px.histogram(x = ap[vol], y = ap[rain])
        fig.show();

In [ ]:
hydrometry = ["Hydrometry_Fiume_Chiascio_Petrignano"]

In [ ]:
for rain in rainfall:
    for hydro in hydrometry:
        print(hydro, rain)
        fig = px.histogram(x = ap[hydro], y = ap[rain])
        fig.show();

# <a id='luco'>Luco</a>

In [ ]:
pd.set_option('display.max_columns', None)
al = pd.read_csv("../data/ACEA_Water/Aquifer_Luco.csv")
al.head()

In [ ]:
al.columns

In [ ]:
missing_val = [features for features in al.columns if al[features].isnull().sum()>1]

for feature in missing_val:
    print(feature, np.round(al[feature].isnull().mean(), 3), "% missing values")

In [ ]:
# Handling Missing values
for feature in missing_val:
    median_value=al[feature].median()
    al[feature].fillna(median_value,inplace=True)

In [ ]:
al.isnull().sum()

In [ ]:
al.describe()

In [ ]:
al.shape

## Rainfall

In [ ]:
rainfall = ["Rainfall_Simignano", "Rainfall_Siena_Poggio_al_Vento", "Rainfall_Mensano", "Rainfall_Montalcinello",
            "Rainfall_Monticiano_la_Pineta", "Rainfall_Sovicille", "Rainfall_Ponte_Orgia", "Rainfall_Scorgiano", 
            "Rainfall_Pentolina", "Rainfall_Monteroni_Arbia_Biena"]

In [ ]:
for rain in rainfall:
    fig = px.histogram(al[rain])
    fig.update_xaxes(autorange=False)
    fig.show();

In [ ]:
depth = ["Depth_to_Groundwater_Podere_Casetta", "Depth_to_Groundwater_Pozzo_1", "Depth_to_Groundwater_Pozzo_3", 
         "Depth_to_Groundwater_Pozzo_4"]

In [ ]:
for rain in rainfall:
    for dep in depth:
        print(dep, rain)
        fig = px.histogram(x = al[dep], y = al[rain])
        fig.show();

In [ ]:
temperature = ["Temperature_Mensano", "Temperature_Pentolina", "Temperature_Monteroni_Arbia_Biena"]

In [ ]:
for rain in rainfall:
    for temp in temperature:
        print(temp, rain)
        fig = px.histogram(x = al[temp], y = al[rain])
        fig.show();

In [ ]:
volume = ["Volume_Pozzo_1", "Volume_Pozzo_3", "Volume_Pozzo_4"]

In [ ]:
for rain in rainfall:
    for vol in temperature:
        print(vol, rain)
        fig = px.histogram(x = al[vol], y = al[rain])
        fig.show();